body {
  margin: 0;
  padding: 0;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px; /* space between card and button */
}

.main-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 600px){
  .main-container{
    flex-direction: column;
    gap: 20px;
  }
}