.container {
  width: 450px;
  height: 250px;
  background: #ffffff; /* pure white */
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.card {
  display: flex;
  align-items: center;
  height: 100%;
}

#avatarImg {
  width: 140px;
  height: auto;
  object-fit: contain;
}

#avatar {
  margin-left: 10px;
}

.info {
  margin: 10px 10px 0 30px;
  width: 100%;
}

#role {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  color: #555;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 4px 0;
}

#email {
  font-size: 0.9rem;
  margin-left: 5px;
}

.socialLinks {
  display: flex;
  gap: 18px;
  margin: 20px 0;
}

.socialLinks div {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.85rem;
  color: #333;
}

.icon {
  font-size: 16px;
}

.socialLinks img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

#link {
  font-size: 0.8rem;
  color: #555;
  /* text-decoration: underline; */
}

/* Card 2 */

.container-2 {
  width: 450px;
  color: #ffffff; 
  background-color: #333;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.head {
  display: flex;
  padding: 10px 25px;
  align-items: center;
  justify-content: space-between;
  background: #0f1419;
  border-bottom: 1px solid black;
}

.dots {
  display: flex;
  gap: 7px;
}

.head h3 {
  font-size: 1.6rem;
  margin: 0;
}

.dots-icon {
  font-size: 1.5rem;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #151a1f;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.toolbar div {
  display: flex;
  gap: 15px;
  font-size: 1.2rem;
}

.code-section {
  height: 63%;
  display: flex;
  flex-direction: column;
  background: #0b0f14;
  padding: 10px 14px;
  font-family: "Fira Code", monospace;
  font-size: 14px;
}

.row {
  display: flex;
  gap: 10px;
  margin: 6px 0;
  /* white-space: nowrap; */
}

.line {
  width: 22px;
  text-align: right;
  color: #6e7681;
}

.key {
  color: #ff7b72;
}

.colon {
  color: #c9d1d9;
}

.value {
  color: #cb992d;

  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.brace {
  color: #79c0ff;
}

@media (max-width: 600px) {
  .container-2 {
    width: 92vw;
    max-width: 92vw;
  }

  .head h3 {
    font-size: 1rem; 
  }

  .toolbar div {
    gap: 10px;
    font-size: 1rem;
  }

  .code-section {
    font-size: 13px;
  }
}