.form-container {
  width: 400px;
  text-align: center;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  
}

.form-container h1 {
  font-size: 2.3rem;
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 10px;
}

.type select {
  padding: 5px;
}
.inputs {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  align-items: center;
}

input {
  width: 200px;
  padding: 10px 5px;
  margin-bottom: 15px;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: rgb(0, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  margin: 10px 0;
  cursor: pointer;
}
button:hover {
  background-color: rgb(80, 244, 244);
}
